{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/fontAwesome.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/light-box.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/temo-style.css') }}" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<script src="https://brianium.github.io/watermarkjs/scripts/watermark.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
{% endblock %}

{% block body %}
<div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
      </div>

<nav>
        <div class="logo">
            <a href="#">GMUNOZ<em>R</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>
    <!-- 
    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Bienvenido <em></em></h1>
              <p></p>
              <p></p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#">
                      <img src="{{ asset('img/scroll-icon.png') }}" alt=""></a>
                </div>
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{{ asset('video/bebop2.mp4') }}" type="video/mp4" />
        </video>
    </div>
    -->
    
    <!--
    <div id="video-container" style="height:0% !important;position: absolute !important;">        
      <div class="col-12">
        <div class="portfolio-item">
          <a class="boxlg" alt="variant.image">
            <div class="thumb">
              <div class="hover-effect">
                <div class="hover-content">
                </div>
              </div>
              <div class="image">
                <img class="" id="6" src="data" alt="variant.imageMini">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    -->

    <div id="portfolio" style="display:none;">
      <div class="full-screen-portfolio" v-if="isLoading">
          <div class="container-fluid portafolio-back" style="background: #333;">
            <div v-for="variant in variants" :key="variant.id" class="col-md-4 col-sm-12">
                <div class="portfolio-item">
                    <a class="boxlg" alt="variant.image" v-bind:href="variant.image" data-lightbox="image-1">
                      <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>${variant.titulo}$<em></em></h1>
                                <p>${variant.descripcion}$</p>
                            </div>
                        </div>
                        <div class="image">
                            <img class="imgLoaded" v-bind:id="variant.id" v-bind:src="variant.imageMini" alt="variant.imageMini">
                        </div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
      </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 GMUNOZ

    | Designed by TemplateMo</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img class="invert" src="{{ asset('img/contact-icon.png') }}" alt=""></button>
    </div>
    <div class="popup-icon" style="right: 150px;width: 350px;background-color: #000000a3;opacity:0.6;">
          <img id="imgSpotify2" style="height: 60px;float:left;" src="https://developer.spotify.com/images/guidelines/design/icon2@2x.png" alt="">
        <a href="" id="externalUrl" target="”_blank”" style="font-size: 15px;color:white;float:left;padding-left: 15px;">
          <p id="textSpotify" style="color:white;">Mr. Scary</p>
        </a>
          <img id="imgSpotify" style="height: 60px;float:right;" src="" alt="">
        </div>
    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">
            Di hola a <em>GM</em>
          </h3>
          <div class="close-btn"><img src="{{ asset('img/close_contact.png') }}" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
                <div class="row form-group">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Tu nombre..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Tu email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu mensaje..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="button" id="form-submit" class="btn">Enviar un mensaje ahora</button>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <h3 id="mensajeRespuesta"></h3>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>



    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="{{ path('galeriavue') }}">Home</a>
                  </li>
                  <li>
                      <a href="{{ path('index') }}">Particle</a>
                  </li>                  
              </ul>
              <p>Thanks TemplateMo.</p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/vue.global.prod.js') }}"></script>

<script src="{{ asset('js/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>

<script>window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>

<script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>

<script src="{{ asset('js/plugins.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

<!-- Import App
<script src="{{ asset('js/galery.js') }}"></script>
-->

<!-- Mount App -->
<script>
const app = Vue.createApp({
    data() {
        return {
            variants:{},
            isLoading: false,
        }
    },
    created(){
        fetch("{{ path('galeriajson') }}").then(response => response.json())
            .then(
              (data) => {
                  var values = [];

                  this.variants = data
                  this.isLoading = true

              }
            ).then(
                   () => {
                    $(".imgLoaded").each(function() {  
                        imgsrc = this.src;
                        imgid = this.id
                        hrefImg = $('#'+imgid).parent().parent().parent()[0].href;
                        //wtMark(imgid,imgsrc)
                        //wtMarkHref(imgid,hrefImg)

                        function wtMark(id,imgsrc){
                          watermark([imgsrc])
                          .image(watermark.text.center('GMUNOZR', '42px serif', '#fff', 0.5))
                          .then(function (img) {
                            $('#'+id).prop('src',img.src)
                          })
                        }

                        function wtMarkHref(id,imgsrc){
                          watermark([imgsrc])
                          .image(watermark.text.center('GMUNOZR', '420px serif', '#fff', 0.5))
                          .then(function (img) {
                            $('#'+id).parent().parent().parent()[0].href = img.src
                          })
                        }

                      }) 
                    }            
            )
    },
    
    delimiters: ["${", "}$"]
})

  const mountedApp = app.mount('#portfolio')
</script>



<script>


;(function(){
  function id(v){return document.getElementById(v); }
  function loadbar() {
    var ovrl = id("overlay"),
        prog = id("progress"),
        stat = id("progstat"),
        img = document.images,
        c = 0;
        tot = img.length;

    function imgLoaded(){
      c += 1;
      var perc = ((100/tot*c) << 0) +"%";
      prog.style.width = perc;
      stat.innerHTML = "Cargando... "+ perc;
      if(c===tot) return doneLoading();
    }
    function doneLoading(){
      ovrl.style.opacity = 0;
      setTimeout(function(){ 
        ovrl.style.display = "none";
      }, 1200);
    }
    for(var i=0; i<tot; i++) {
      var tImg     = new Image();
      tImg.onload  = imgLoaded;
      tImg.onerror = imgLoaded;
      tImg.src     = img[i].src;
    }    
  }
  document.addEventListener('DOMContentLoaded', loadbar, false);
}());


$(document).ready(function(){


  var refreshTK = '{{refresh}}';
  $("#form-submit").click(function(){
    $.ajax({
        url:"{{path('contactPost')}}",
        data: {
          name: $('#name').val(),
          email: $('#email').val(),
          message: $('#message').val()
        },
        success: function(result){
          $("#mensajeRespuesta").html("Gracias, te contactare lo antes posible :) ");
      }});
  });
  getSpotify();
  setInterval(getSpotify, 30000);

  function getSpotify(){

    $.ajax({
        url:"{{path('tokenforever')}}",
        data: {
          refresh:refreshTK
        },
        success: function(result){
          refreshTK = result.refresh;
          items = result.track.items;
          var urlImg = null;
          var name = null;
          var externalUrl = null;
          items.forEach(function(entry) {
              images = entry.track.album.images;
              images.forEach(function(img){
                urlImg = img.url;
              });
              name = entry.track.name;
              externalUrl = entry.track.external_urls.spotify;


          });
          $("#imgSpotify").attr("src",urlImg);
          $("#textSpotify").html(name);
          $("#externalUrl").attr("href",externalUrl);

      }});

  }

  $("#portfolio").show()
});

</script>
  <script>
  


  </script>

  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
