{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link href="{{ asset('css/comingsoon.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div id="particle-canvas"></div>
<div id="overlay">
      <h1><a href="{{ path('galeriavue') }}" style="text-decoration:none;color:white;">Home</a></h1>
 </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

// Initialisation

<script>
var canvasDiv = document.getElementById('particle-canvas');
var options = {
  particleColor: '#fff',
  background: "{{ asset('img/universo.jpg') }}",
  interactive: true,
  speed: 'medium',
  density: 'high'
};
var particleCanvas = new ParticleNetwork(canvasDiv, options);
</script>

{% endblock %}
